/*
 *   Color Scheme - Andaz
 *   5 - #0D115A rgba(13, 17, 90, .6);
 *   4 - #32CDC5
 *   3 - #53B8AF
 *   2 - #1C9C8F
 *   1 - #535353
 *   Color Scheme - Flat UI
 *   5 - #263650 rgba(33, 47, 63, .6);
 *   4 - #E13329
 *   3 - #E7ECEE
 *   2 - #2682D5
 *   1 - #1D6AAD
 */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F5F5F5;
  color: #444;
  font-family: "Helvetica Neue", Arial, serif;
  font-size: 2.2em; /*62.5%; 22px;*/
  margin: 0;
  padding: 0;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: 10px 0 15px;
}

p, ul {
  margin: 10px 0;
}

ul li {
  margin-left: 30px;
}

section {
padding: 30px 25px;
line-height: 1.4;
}

a{
  color: #263650; /*#212F3F;*/
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #263650;
  padding: 2px;
}

a:hover {
  background-color: #263650;
  border-radius: 5px;
  color: white;
}

a:active {
  border-bottom: none;
  position: relative;
  top: 1px;
}

a:focus{
  text-decoration: none;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

footer {
  text-align: center;
}

/*
 * HEADER
 */

header {
  align-items: center;
  background-color:	#EFEFEF;
  background-image: url('bg.jpg');
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  min-height: 300px;
  position: relative;
  text-align: center;
}

header:before {
  background: rgba(33, 47, 63, .6);
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

header * {
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 10px black;
}

header h1, h2 {
  text-transform: capitalize;
  font-family: "john-doe", sans-serif;
}

header h1 {
  font-size: 3em;
}

header h2 {
  font-size: 1.5em;
}

.tagline {
  background: #E13329;
  color: #ddd;
}

.skills {
  background: #E7ECEE;
}

/*
 *   COURSE BADGES
 */

#badges {
  text-align: center;
  max-height: 400px;
  overflow: auto;
}

.course {
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #EAEAEA;
  display: inline-block;
  height: 350px;
  margin: 20px 10px;
  padding: 15px 10px;
  width: 180px;
}

.course h3 {
  color: #999;
  font-size: 1.9rem;
  font-weight: 200;
  min-height: 80px;;
}

.course img {
  border: none;
  height: 150px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 150px;
}

.course a {
  display: block;
}

/*
 *   CONTACT
 */

.contact {
  background: #2682D5;
  color: #ddd;
  text-align: center;
}

.contact a {
    background-color: #263650;
    border-radius: 10px;
    color: #ccc;
    font-size: .81818em;
    font-weight: normal;
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
}

.contact a:hover {
  color: #fff;
  text-decoration: none;
}

.contact a:active {
  color: #fff;
  text-decoration: none;
}

.contact a:focus {
  color: #fff;
  text-decoration: none;
}
.contact li {
  display: inline-block;
  margin: 0 1.5%;
  width: 10%;
}

/*
 *   FOOTER
 */

footer {
  background-color: #1D6AAD; /*#444;*/
  color: #eee;
  font-size: 14px;
  padding: 15px 0;
}
